.heading{
  background-image: url("../images/assets/backgrounds/landing.jpg");
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;

}
#logo{
padding-left:450px;
}
.heading p{
  text-align: center;
  color: white;
  font-size: 35px;
  font-stretch: semi-expanded;
}

<p>breakfast</p>{
  background-image: url("../images/assets/backgrounds/breakfast.jpg");
}

<p>lunch</p>{
  background-image: url("../images/assets/backgrounds/lunch.jpg");
}

<p>dinner</p>{
  background-image: url("../images/assets/backgrounds/dinner.jpg");
}
